body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.name-color {
    color: orangered;
}

.flexible-container {
    display: flex;
    margin-bottom: 120px;
}


.profile-desc {
    width: 50%;
    padding-left: 2%;
}

.profile-desc img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orangered, rgb(236, 105, 57));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.work-exprience {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.top-banner {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.para-style {
    padding-right: 15%;
}

.development-skill {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.skill-desc {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(77, 77, 74);
}

#fullstack-dev {
    border-left: 7px solid orangered;
}

#junior-dev {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}